{% extends "theme.html" %}
{% load bootstrap %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if user.is_authenticated %}
                    <form action="." method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-10">
                                    <div class="fieldWrapper">
                                        {{ form.body.errors }}
                                        {{ form.body }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-default">Post!</button>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="fieldWrapper">
                                    {{ form.category.errors }}
                                    <div class="row" style="line-height: 250%;">
                                        <div class="col-md-2">
                                            <label for="{{ form.category.id_for_label }}">Category:</label>
                                        </div>
                                        <div class="col-md-10">
                                            {{ form.category }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3" style="text-align: center";>
                <div class="list-group">
                {% for post in posts %}
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ post.author }} : {{ post.category }}</h4>
                        <p class="list-group-item-text">{{ post.body }}</p>
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
